
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* impede rolagem horizontal*/
  p{
    color: #dd00ff;
  }
  font-family: 'Courier New', Courier, monospace;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 1); /* Fundo inicial colorido */
  padding: 10px 20px;
  transition: background-color 0.5s ease; /* Transição suave */
  z-index: 1000; /* Mantém a navegação acima de outros elementos */
  justify-content: center;
  gap: 20px;
  padding: 20px; 
}
.nav.transparent {
  background-color: rgba(0, 0, 0, 0); /* Torna o fundo transparente */
}

.nav a {
  text-decoration: none;
  color: rgb(112, 0, 204);
  font-weight: bold;
  margin: 0 15px;
  transition: color 0.3s;
}

.nav a:hover {
  color: rgb(0, 255, 149);
    transition: 0.6s;
    transform: scale(1.1);
}  
section {
  padding: 20px;
  margin: 0px 0;
  height: 100vh; /* Cada seção ocupa uma tela inteira */
  scroll-snap-align: start; /* Encaixa cada seção no início */
}

/*-----------------------------ABA DO SOBRE---------------------------------- */
#sobre {
  height: 100vh; 
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: #fff; 
  position: relative;
  z-index: 1; 

  p{
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: white;
  }
}

.nome {
  display: inline-block;
  opacity: 0; /* Começa invisível */
  -webkit-animation: text-flicker-variable-speed 4s linear forwards; /* Sincronizado, executa uma vez */
  animation: text-flicker-variable-speed 4s linear forwards;
  font-family: Arial, sans-serif;
  font-size: 4rem; /* Tamanho grande */
  text-transform: uppercase; /* Tudo em maiúsculo */
  margin-bottom: 75px;
}

/* Keyframes para o efeito de flicker no nome completo */
@keyframes text-flicker-variable-speed {
  0%, 5% { opacity: 0; } /* Piscar rápido */
  10% { opacity: 1; text-shadow: 0 0 30px rgba(255, 255, 255, 0.25); }
  15%, 20% { opacity: 0; }
  25%, 50% { opacity: 1; text-shadow: 0 0 30px rgba(255, 255, 255, 0.45); }
  55%, 60% { opacity: 0; } /* Piscar mais devagar */
  75%, 90% { opacity: 1; text-shadow: 0 0 30px rgba(255, 255, 255, 0.6); }
  100% { 
      opacity: 1; /* Texto aceso e estático */
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 
                   0 0 60px rgba(255, 255, 255, 0.45), 
                   0 0 110px rgba(255, 255, 255, 0.25); 
  }
}

.efeito-expandir{
  font-size: 15px;
  color: white;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both, text-flicker-variable-speed 4s linear forwards;;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*-----------------------------FIM DA ABA DO SOBRE---------------------------------- */


/*-----------------------------INICIO DA ABA DO EDUCAÇÃO---------------------------------- */
#educação{
  margin: 0px;
  background-color: #d7d7d7;
}
.gavetaço {
  
}
.gaveteiro{
  perspective: 1000px;
}
.gaveteiro .gaveta{
  position: relative;
  transform-style: preserve-3d;
  transition: 0.7s;
  gap: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(89, 89, 89);
  height: 20vh;
}
.gaveta .titulo{
  position: absolute;
  color: #fff;
  display: flex;
  align-items: center;
}
.gaveta .texto{
  p{
    margin: 20px;
    color: black;
    opacity: 0;
  }
}
.gaveta:hover { 
  transform: rotateX(180deg);
  background-color: white;
  transition: 1s;
  h1{
    opacity: 0;
  }
  p{
    opacity: 1;
    color:#000
  }
}
.gaveta:hover .texto{
  transform: rotateX(180deg);
  -webkit-animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}



/*-----------------------------FIM DA ABA DO EDUCAÇÃO---------------------------------- */
#hobbies{

}
#interesses{
 
}

#favoritos{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover; /* Imagem cobre toda a altura e largura */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição */
  transition: background-image 0.7s ease, background-size 0.7s ease; /* Transições suaves */
  background-image: url('https://theridgewoodblog.net/wp-content/uploads/2023/09/google-home-page-ss-1920-1363269384.jpg'); 
  
  .lista{
    z-index: 1;
    display: flex;
    margin-top: 75px;
    justify-content: center;
    gap: 1.5em;
  }
  .item{
    z-index: 2;
    width: 250px;
    height: 450px;
    overflow: hidden;
    position: relative;
    transition: 0.7s;
  }
  img{
      border-radius: 5%;
  }
  .item p{
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    width: 80%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    opacity: 0;
    color: white;
  }
  .item:hover{
      transform: scale(1.1);
  }
  .item:hover p{
      opacity: 1;
      top: 50%;
  }
  .lista:hover .item:not(:hover){
      filter: blur(5px);
      transform: scale(.9);
  }
  .lista {
    position: relative;
    z-index: 1; /* Fica acima do background */
  }
  h1{
    font-size: xx-large;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 90px;
  }
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.7s ease; /* Transição suave na opacidade */
  z-index: 0;
}
#habilidades{
  
}
#contato{
  height: 10vh; /* Altura ajustada para parecer um rodapé */
  background-color: #333333; /* Fundo preto para destacar como rodapé */
  display: flex; /* Habilita o flexbox no contêiner principal */
  justify-content: center; /* Centraliza horizontalmente os itens */
  align-items: center; /* Centraliza verticalmente os itens */

  .contatos {
    display: flex;
    align-items: center;
    gap: 30px;
    
  }

/* INSTAGRAM BOTAO------------------------------------------- */

.botaoinstagram button {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255,0,0);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255,0,0);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;

}

.botaoinstagram button span {
  margin: 10px;
  text-decoration: none;
}

.botaoinstagram button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.botaoinstagram button:hover {
  color: #fff;
  border: 1px solid rgb(255,0,0);
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.botaoinstagram button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}

/* DISCORD BOTAO ---------------------------------------------*/

.botaodiscord button {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #4f4dd9 0%,#2b60aa 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  width: 10em;
  height: 2.8em;
}

.botaodiscord button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.botaodiscord button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.botaodiscord button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.botaodiscord button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.botaodiscord button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

.botaodiscord button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.botaodiscord button:hover svg {
  transform: rotate(360deg);
}

/* DISCORD BOTAO ---------------------------------------------*/

/* EMAIL BOTAO------------------------------------------------*/
.botaoemail button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 25px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  width: 6em;
  height: 2.5em;
}

.botaoemail button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.botaoemail button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;

}
.botaoemail button:hover{
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
.botaoemail button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.botaoemail button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.botaoemail button:hover span {
  transform: translateX(5em);
}

.botaoemail button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
/* EMAIL BOTAO------------------------------------------------*/


  /* WHATSZAP BOTAO------------------------------------------------*/
  .botaozap button {
    background-color: #fff;
    border: 1px solid #25D366;
    padding: 5px;
    position: relative;
    width: 6em;
    height: 2.5em;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 25px;
  }
  
  .botaozap button p {
    position: absolute;
    top: 0.7em;
    left: 1.15em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #25D366;
  }
  
  .botaozap button svg {
    position: absolute;
    top: 0.7em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
  }
  .botaozap button:hover{
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  .botaozap button:hover p {
    left: 0.5em;
    color: #fff
  }
  
  .botaozap button:hover svg {
    opacity: 1;
  }
  
  .botaozap button:hover {
    background-color: #25D366;
  }
  /* WHATSZAP BOTAO------------------------------------------------*/

}


